body {
  font-family: 'open sans';
  overflow-x: hidden; 
}
.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; 
}
.product-title, .price {
  text-transform: UPPERCASE;
  font-weight: bold; 
}
.price span {
  color: #ff9f1a; 
}
.product-title, .product-description, .price{
  margin-bottom: 15px; 
}
.product-title {
  margin-top: 0; 
}
.add-to-cart {
  background: #ff9f1a;
  padding: 1em 1.2em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
}
.add-to-cart:hover {
  background: #b36800;
  color: #fff; 
}
